<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jaxws="http://cxf.apache.org/jaxws"
	xmlns:jaxrs="http://cxf.apache.org/jaxrs" xmlns:cxf="http://cxf.apache.org/core"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
          http://www.springframework.org/schema/beans/spring-beans-4.0.xsd
            http://cxf.apache.org/jaxrs http://cxf.apache.org/schemas/jaxrs.xsd
            http://cxf.apache.org/jaxws http://cxf.apache.org/schemas/jaxws.xsd
            http://cxf.apache.org/core http://cxf.apache.org/schemas/core.xsd">
            
    <!--  <context:component-scan base-package="com.jh.statistics">
		<context:exclude-filter type="regex" expression="com.personal.rulengine.mamager.controller.*" />
	</context:component-scan> -->
            
    <!-- soap自带的一些必须依赖文件,最好全部导入 -->        
	<import resource="classpath:META-INF/cxf/cxf.xml" />
	<import resource="classpath:META-INF/cxf/cxf-extension-soap.xml" />
	<import resource="classpath:META-INF/cxf/cxf-servlet.xml" />
	
	<!-- 查看下面的webservice发布接口信息地址,包括了rest格式的发布接口 -->
	<!-- http://localhost:8080/rulengine-mamager/ws/ -->
	
	<!-- http://localhost:8080/rulengine-mamager/ws/userService?wsdl -->
	<!-- http://localhost:8080/rulengine-mamager/ws/departmentService?wsdl -->
	<!-- http://localhost:8080/rulengine-mamager/ws/restService?_wadl&_type=xml -->
	
	<!-- 发布一个不带接口的webservice-->
	<jaxws:endpoint id="userService" address="/userService" implementor="com.personal.rulengine.mamager.cxf.web.UserServiceImpl"/>
	
	<!-- 发布服务的接口 -->
	<jaxws:server id="departmentService" address="/departmentService" serviceClass="com.personal.rulengine.mamager.cxf.web.DepartmentService">
		 <jaxws:serviceBean>
		 	<bean class="com.personal.rulengine.mamager.cxf.web.DepartmentServiceImpl"/>
		 </jaxws:serviceBean>
		 
		<jaxws:inInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
			
		<!-- wss4j安全认证拦截 -->
		<bean class="org.apache.cxf.ws.security.wss4j.WSS4JInInterceptor">
			<constructor-arg>
				<map>
					<!-- 指定认证方式为用户令牌机制 -->
					<entry key="action" value="UsernameToken" />
					<!-- 加密方式PasswordDigest：md5加密，PasswordText：明文-->
					<entry key="passwordType" value="PasswordText" />
					<!-- 密码回调方法 -->
					<entry key="passwordCallbackClass" value="com.personal.rulengine.mamager.cxf.callback.server.ServerPasswordCallbackHandler" />
				</map>
			</constructor-arg>
		</bean>
		
		</jaxws:inInterceptors>
		
		
		<jaxws:outInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
			
			<!-- 该测试在测试类中查看 -->
			<!-- <bean class="org.apache.cxf.ws.security.wss4j.WSS4JOutInterceptor">
			<constructor-arg>
				<map>
					<entry key="action" value="UsernameToken" />
					<entry key="passwordType" value="PasswordText" />
					<entry key="passwordCallbackClass" value="com.personal.rulengine.mamager.cxf.callback.client.ClientPasswordCallbackHandler" />
				</map>
			</constructor-arg>
		</bean> -->
		
		</jaxws:outInterceptors>
	</jaxws:server>

	<!-- 提供rest 的访问地址 -->
	<jaxrs:server id="restService" address="/restService"> 
		<jaxrs:serviceBeans>
				<bean id="personService" class="com.personal.rulengine.mamager.cxf.rest.PersonServiceImpl" />
		</jaxrs:serviceBeans>
		<jaxrs:inInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingInInterceptor"/>
		
		</jaxrs:inInterceptors>
		<jaxrs:outInterceptors>
			<bean class="org.apache.cxf.interceptor.LoggingOutInterceptor"/>
		</jaxrs:outInterceptors>
	</jaxrs:server>

</beans>